// Place all the styles related to the vote_pics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top { 
	height:164px;
	width:1003px;
	margin:auto;
}
